{% extends 'base.html.twig' %}

{% block title %}{{ 'views.login.title'|trans() }}{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}

    <div class="container mx-auto flex flex-col lg:flex-row items-center h-full">
        <div class="w-full text-center justify-between h-48 py-auto flex items-center ">
            <img src="{{ asset('images/logo.png') }}" alt="" class="w-64 mx-auto pt-4">
        </div>

        <div class="w-80">

            {{ form_start(form, {'attr': {'class': 'flex flex-col place-items-center'}}) }}

            <div class="w-80 grid grid-cols-2 text-center my-6">
                <div class="text-lg py-3 text-green-600 border-b-2 border-green-600 w-full">
                    <a href="{{ path('app_login') }}" class="">{{ 'views.login.redirect.login'|trans }}</a>
                </div>
                <div class="text-lg py-3 hover:text-green-600 border-b-2 border-black hover:border-green-600 w-full">
                    <a href="{{ path('app_register') }}" class="hover:shelter-text-green">{{ 'views.login.redirect.register'|trans }}</a>
                </div>

            </div>
            {% if error is not null %}
                <div class="mb-8">
                    <p class="text-base">  {{ form_label(form.email,'views.login.email', {'attr': {'class': 'text-base'}}) }}</p>


                    {{ form_widget(form.email, {'attr': {'class':'border-2 rounded-md border-red-800 text-base w-80 h-11 p-3.5'}}) }}
                    <p class="text-sm text-red-600 italic">  {{ error.messageKey|trans(error.messageData, 'security') }}</p>

                </div>

                <div class="mb-8">
                    <p class="text-base">  {{ form_label(form.password, 'views.login.password', {'attr': {'class': 'font-extrabold'}}) }}</p>

                    {{ form_errors(form.password) }}
                    {{ form_widget(form.password, {'attr': {'class':'border-2 rounded-md border-red-800 text-base w-80 h-11 p-3.5'}}) }}
                    {{ form_help(form.password) }}
                </div>
            {% else %}

                <div class="mb-8">
                    <p class="text-base">  {{ form_label(form.email,'E-mail', {'attr': {'class': 'text-base'}}) }}</p>
                    {{ form_widget(form.email, {'attr': {'class':'border-2 rounded-md border-stone-600 text-base w-80 h-11 p-3.5'}}) }}
                </div>

                <div class="mb-8">
                    <p class="text-base">  {{ form_label(form.password, 'Hasło', {'attr': {'class': 'text-base'}}) }}</p>
                    {{ form_widget(form.password, {'attr': {'class':'border-2 rounded-md border-stone-600 text-base w-80 h-11 p-3.5'}}) }}
                </div>
            {% endif %}

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button type="submit" class="btn btn-primary object-center w-80 h-11 rounded-lg text-base bg-shelter-green text-white">{{ 'views.login.submit'|trans }}</button>

            {{ form_end(form) }}

        </div>



        {% include 'partials/_nav_bottom.html.twig' with {back_redirect: 'app_home', parameters: {}} %}

    </div>
{% endblock %}
