{% extends 'base.html.twig' %}

{% block title %}ShelterLine{% endblock %}

{% block body %}
    <div class="w-full mb-36">

        <div class="h-16 mt-7 mx-4 flex justify-end">
            <div class="text-center">
                {% if app.user == null %}
                    <a href="{{ path('app_login') }}" class="text-sm">{{'views.login.redirect.login'|trans}}</a>
                {% else %}
                    <img src="{{ asset('images/question.png') }}" alt=""
                         class="rounded-3xl drop-shadow-xl object-cover w-11 h-11">
                    <p class="text-sm">{{ app.user.name }}</p>
                {% endif %}
            </div>
        </div>

        <h1 class="text-xl font-bold text-center shelter-font mt-7">
            {{ 'views.home.title'|trans }}
        </h1>
        <div class="flex flex-row flex-wrap mt-4 pb-48">
            {% for genre in genres %}
                <div class="text-center mx-4 mt-8">
                    <a href="{{ path('app_catalog', {'guid': genre.guid}) }}">
                        <img src="{{ asset(genre.image ? genre.getImageUrl() :  'images/question.png') }}" alt=""
                             class="rounded-3xl drop-shadow-xl object-cover w-40 h-40">
                        <span class="place-self-center text-lg font-bold mt-5">{{ genre.name }}</span>
                    </a>
                </div>
            {% endfor %}
            {% if is_granted("ROLE_WORKER") %}
                <div class="text-center mx-4 mt-8">
                    <a href="{{ path('app_management') }}">
                        <img src="{{ asset('images/gear.png') }}" alt=""
                             class="rounded-3xl drop-shadow-xl object-cover w-40 h-40">
                        <span class="place-self-center text-lg font-bold mt-5">{{ 'views.home.management'|trans }}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>


    <div class="fixed bottom-0 z-50 w-full h-16 shadow-inner-big bg-white  ">
        <div class="flex place-content-center">
            <div class="w-1/3 mt-4 flex-1 shelter-font items-center">
{#                <img src="{{ asset('images/arrow_back.png') }}" alt="" class="w-9 mx-auto">#}
            </div>
            <a class="w-1/3 mt-4 flex-1 shelter-font">
                <img src="{{ asset('images/home.png') }}" alt="" class="h-9 mx-auto">
            </a>
            <div class="w-1/3 mt-4 flex-1 shelter-font">
                {#                    <img src="{{ asset('images/search.png') }}" alt="" class="w-24 mx-auto"> #}
            </div>
        </div>
    </div>


{% endblock %}
