{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
    <div class="table-responsive border rounded border-primary p-3 m-5 text-center">
        <h1>{{ 'genre.title'|trans }}</h1>

        {{ include('genre/_form.html.twig') }}

        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th>{{ 'genre.name'|trans }}</th>
                <th>{{ 'genre.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for genre in genres %}
                <tr>
                    <td>{{ genre.name }}</td>
                    <td>
                        <a href="{{ path('app_genre_edit', {'id': genre.id}) }}">{{ 'common.edit'|trans }}</a>
                        <a href="{{ path('app_genre_delete', {'id': genre.id}) }}">{{ 'common.delete'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">{{ 'common.empty'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
