{% extends 'base.html.twig' %}

{% block title %}{{ 'genre.title'|trans }}{% endblock %}

{% block body %}
    {{ include('genre/_form.html.twig') }}


    <div class="grid grid-cols-1 my-auto">
        {% for genre in genres %}
            <div class="p-4 rounded-lg shadow grid grid-cols-3 mx-10 my-4 place-items-center border-4 shadow-xl shelter-border">
                <div class="mr-10 my-auto">
                    <img src="{{ asset(genre.file ? 'archive/' ~ genre.file.fileName :  'images/question.png') }}" alt="" class="rounded-3xl drop-shadow-xl object-cover w-24 h-24">
                </div>
                <div class="text-7xl text-center basis-1/2">
                    {{ genre.name }}
                </div>

                <div class="flex">
                    <div class="text-center place-content-center">
                        <a href="{{ path('app_genre_edit', {'id': genre.id}) }}">
                            <img src="{{ asset('images/notebook_pen.png') }}" alt="" class="drop-shadow-xl  w-10 h-10">
                        </a>
                    </div>

                    <div class="text-center place-content-center ml-10">
                        <a href="{{ path('app_genre_delete', {'id': genre.id}) }}">
                            <img src="{{ asset('images/recycle_bin.png') }}" alt="" class="drop-shadow-xl  w-10 h-10">
                        </a>
                    </div>
                </div>

            </div>
        {% endfor %}

    </div>



{#    <!-- component -->#}
{#    <div class="flex items-center justify-center">#}
{#    <div class="container">#}
{#        <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">#}
{#            <thead class="text-white">#}
{#            {% for genre in genres %}#}
{#            <tr class="bg-shelter-green flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">#}
{#                <th class="p-3 text-left">{{ 'views.management.genre.name'|trans }}</th>#}
{#                <th class="p-3 text-left" width="110px">{{ 'views.management.genre.actions'|trans }}</th>#}
{#                <th class="p-3 text-left" width="110px">{{ 'views.management.genre.actions'|trans }}</th>#}
{#            </tr>#}
{#            {% endfor %}#}
{#            </thead>#}
{#            <tbody class="flex-1 sm:flex-none">#}
{#            {% for genre in genres %}#}
{#                <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">#}
{#                    <td class="border-grey-light border hover:bg-gray-100 p-3">{{ genre.name }}</td>#}
{#                    <td class="border-grey-light border hover:bg-gray-100 p-3 text-blue-400 hover:text-blue-600 hover:font-medium cursor-pointer">#}
{#                        <a href="{{ path('app_genre_edit', {'id': genre.id}) }}">{{ 'common.edit'|trans }}</a>#}
{#                    </td>#}
{#                    <td class="border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer">#}
{#                        <a href="{{ path('app_genre_delete', {'id': genre.id}) }}">{{ 'common.delete'|trans }}</a>#}
{#                    </td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{#    </div>#}
{#    </div>#}

    {% include 'partials/_nav_bottom.html.twig' with {back_redirect: 'app_management', parameters: {}}%}


{% endblock %}
