{% extends 'base.html.twig' %}

{% block title %}{{ 'animals.title'|trans }}{% endblock %}

{% block body %}
    <div class="table-responsive border rounded border-primary p-3 m-5 text-center">
        <h1>{{ 'animals.title'|trans }}</h1>
        <a href="{{ path('app_animal_new') }}">{{ 'common.new'|trans }}</a>
        <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>{{ 'animals.room'|trans }}</th>
            <th>{{ 'animals.chip'|trans }}</th>
            <th>{{ 'animals.name'|trans }}</th>
            <th>{{ 'animals.colour'|trans }}</th>
            <th>{{ 'animals.gender'|trans }}</th>
            <th>{{ 'animals.genre'|trans }}</th>
            <th>{{ 'animals.birthday'|trans }}</th>
            {% if is_granted('ROLE_MODERATOR') %}
            <th>{{ 'animals.actions'|trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.room.code ?? '' }}</td>
                <td>{{ animal.chip }}</td>
                <td>{{ animal.name }}</td>
                <td>{{ animal.colour }}</td>
                <td>{{ animal.gender }}</td>
                <td>{{ animal.genre.name }}</td>
                <td>{{ animal.birthdayDate ? animal.birthdayDate|date('Y-m-d') : '' }}</td>
                {% if is_granted('ROLE_MODERATOR') %}
                <td>
                    <a href="{{ path('app_animal_edit', {'id': animal.id}) }}">{{ 'common.edit'|trans }}</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'common.empty'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>


    </div>




{% endblock %}
