{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
<div class="table-responsive border rounded border-primary p-3 m-5 text-center">
    <h1>{{ 'room.title'|trans }}</h1>

    {{ include('room/_form.html.twig') }}

    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>{{ 'room.code'|trans }}</th>
            <th>{{ 'room.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.code }}</td>
                <td>
                    <a href="{{ path('app_room_edit', {'id': room.id}) }}">{{ 'common.edit'|trans }}</a>
                    <a href="{{ path('app_room_delete', {'id': room.id}) }}">{{ 'common.delete'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'common.empty'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
