<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            {{ form_start(form, {'attr': {'class': 'form'} }) }}

            <div class="form-group row mb-2">
                <label for="{{ form.file.vars.id }}" class="col-sm-2 col-form-label">{{'animals.file'|trans}}</label>
                <div class="col-sm-10">
                    {{ form_widget(form.file, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Wyślij</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
