{% extends 'base.html.twig' %}

{% block title %}{{ 'room.title'|trans }}{% endblock %}

{% block body %}
    <div class="w-full pb-36">
        <h1 class="mt-24 mt-36 text-7xl font-bold text-center shelter-font lg:mt-10">
            {{ 'views.catalog.title'|trans }}
        </h1>
        <div class="mb-24 mt-6 text-4xl text-center shelter-font lg:mt-10 text-center">
            <p>
               (  <span class="shelter-green">{{ 'views.catalog.green'|trans }}</span>
                - {{ 'views.catalog.available'|trans }},
                <span class="text-red-500">{{ 'views.catalog.red'|trans }}</span>
                - {{ 'views.catalog.not_available'|trans }}
               )
            </p>
        </div>

        <div class="flex flex-row flex-wrap mb-32">
            {% for room in rooms %}
                <div class="text-center ml-16 mr-5 mt-10">
                    <a href="{{ path('app_catalog_show', {'genreGuid': genre.guid, 'guid': room.guid}) }}">
                        <img src="{{ asset('images/door.png') }}" alt="" class="rounded-3xl drop-shadow-xl object-cover w-96 h-96 mb-9 lg:w-36 lg:h-36">
                        {% if true == room.locked %}
                        <span class="place-self-center text-8xl shelter-font text-red-500 lg:text-5xl">{{ room.code}}</span>
                        {% else %}
                            <span class="place-self-center text-8xl shelter-font shelter-green lg:text-5xl">{{ room.code}}</span>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>


    </div>

    {% include 'partials/_nav_bottom.html.twig' with {back_redirect: 'app_home', parameters: {}}%}

{% endblock %}
